:root {
  --background-color:#070236; 
  --text-color: #fafaf6;
  --button-color: #4c74af;
  --button-border-color:#5e4905;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--background-color);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 2;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.navbar{
 margin: 0;
 padding: 0;
}

.navbar-brand{
  margin: 0;
  padding: 0;
 }

.logo{
  margin-left: 5px;
}
img.logo{
  width: 150px;
}

.search-bar{
  display: flex;
  justify-content: right;
  padding: 10px;
}

.container{
  margin-top: 20px;
}

.pokemon-list{
  margin-bottom: 0;
  list-style-type: none;
}

.list{
  margin-bottom: 0;
}

.btn{
  border-radius: 12px;
}

.button-class{
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-bottom: 4px solid var(--button-border-color);
  width: 200px;
  margin: 3px 2px;
  padding: 10px 15px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.1s ease, transform 0.2s ease;
}

.button-class:hover,
.button-class:focus{
  transform: scale(1.05);
  cursor: pointer;
}

.btn-primary:active,
.btn:active{
  transform: none;
  border: none;
}

.img-button{
  max-width: fit-content;
  border-radius: 50%;
  margin: 5px;
}

.h1 {
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
  color: var(--background-color);
}

.pokemon-text p{
  color: var(--background-color);
  font-size: 22px;
  margin-top: 0;
}

@media (max-width: 575.98px) {
  .logo{
    margin:auto;
    padding: 0;
  }

  .search-bar{
    margin: auto;
  }

  .pokemon-img img {
    height: auto; /* Allow the image to resize naturally */
  }

  .pokemon-text {
    padding: 15px; /* Adjust padding for smaller screens */
    font-size: 20px;
}
}