body{
background-color:#100236;
  color:#fafaf6;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 2;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.logo{
  width: 200px;
}