:root {
  --background-color:#070236; 
  --text-color: #fafaf6;
  --button-color: #4c74af;
  --button-border-color:#292003;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--background-color);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 2;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.logo{
  width: 200px;
}

ul.pokemon-list li{
  list-style-type: none;
  margin: auto;
}

.button-class{
  display: inline-block;
  background-color: var(--button-color);
  color: var(--text-color);
  border-right: 1px solid var(--button-border-color);
  border-bottom: 2px solid var(--button-border-color);
  width: 150px;
  margin: 4px 2px;
  padding: 12px 32px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.1s ease, transform 0.2s ease;
}

.button-class:hover{
  transform: scale(1.05);
  cursor: pointer;
}
